.sidenav{
    width: 200px;
}


.sidenav i {
    padding-right: 10px;
}

.content{
    padding: 16px;
    
}
.container{
    top: 64px !important;
    bottom: 64px !important;
}
button{
    padding-bottom: 15px;
}