<mat-sidenav-container class='container' fullscreen>


    <mat-sidenav #sidenav="matSidenav" class='sidenav' mode='side' opened fixedInViewport=true fixedTopGap='64'>
        <mat-nav-list class='nav-list'>
            <a mat-list-item routerLink='/'>
                <i class='material-icons'>
                    home
                </i>
                Home
            </a>
            <a mat-list-item routerLink='/donators'>
                <i class='material-icons'>
                    person
                </i>
                Donators
            </a>
            <a mat-list-item routerLink='/info'>
                <i class='material-icons'>
                    dashboard
                </i>
                Info
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class='content'>
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">
                menu
            </mat-icon>
            <mat-icon *ngIf="sidenav.opened">
                close
            </mat-icon>
        </button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>