.pie-chart{
    width: 400px;
    height: 400px;
}
.donator-state-chart{
    width: 600px;
    height: 600px;
}
.avg-imc-chart {
    width: 600px;
    height: 600px;
}
.avg-age-blood-chart {
    width: 600px;
    height: 600px;
}